*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 75rem;
  margin: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  position: relative;
}

.clear-fix {
  clear: both;
}

body {
  background-color: #f6f6f6;
  font-family: Tahoma;
  font-size: 1rem;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

header {
  border-bottom: 1px solid #9c9c9c;
  overflow: hidden;
}
header .main__nav {
  padding: 20px 0;
}
header .main__nav .logo {
  text-transform: uppercase;
  width: 30%;
  float: left;
}
header .main__nav .logo h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
header .main__nav .logo p {
  margin-bottom: 2rem;
  padding-left: 0.4rem;
}
header .main__nav .nav__items {
  width: 70%;
  float: left;
  background-color: #e2494c;
  border-radius: 0.9rem;
}
header .main__nav .nav__items li {
  float: left;
  text-align: center;
  width: 20%;
  font-size: 1.1rem;
}
header .main__nav .nav__items li .nav__items--link {
  text-transform: capitalize;
  display: block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  transition: transform 300ms ease-in;
}
header .main__nav .nav__items li .nav__items--link:hover, header .main__nav .nav__items li .nav__items--link:focus {
  color: #ddd;
  transform: scale(1.07);
}