*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 75rem;
  margin: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  position: relative;
}

.clear-fix {
  clear: both;
}

body {
  background-color: #f6f6f6;
  font-family: Tahoma;
  font-size: 1rem;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

header {
  border-bottom: 1px solid #9c9c9c;
  overflow: hidden;
}
header .main__nav {
  padding: 20px 0;
}
header .main__nav .logo {
  text-transform: uppercase;
  width: 30%;
  float: left;
}
header .main__nav .logo h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
header .main__nav .logo p {
  margin-bottom: 2rem;
  padding-left: 0.4rem;
}
header .main__nav .nav__items {
  width: 70%;
  float: left;
  background-color: #e2494c;
  border-radius: 0.9rem;
}
header .main__nav .nav__items li {
  float: left;
  text-align: center;
  width: 20%;
  font-size: 1.1rem;
}
header .main__nav .nav__items li .nav__items--link {
  text-transform: capitalize;
  display: block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  transition: transform 300ms ease-in;
}
header .main__nav .nav__items li .nav__items--link:hover, header .main__nav .nav__items li .nav__items--link:focus {
  color: #ddd;
  transform: scale(1.07);
}

/*start Slider*/
.slider blockquote {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.6;
  font-style: italic;
  font-weight: 500;
  color: #5e5e5e;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.slider .img-wraper {
  margin: 0 auto;
  width: 960px;
  height: 350px;
  border-radius: 16px;
  background-color: #9c9c9c;
}
.slider .img-wraper img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.bullets {
  text-align: center;
  margin-top: 0.25rem;
}
.bullets li {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #9c9c9c;
  border-radius: 50%;
  border: 2px solid #9c9c9c;
  cursor: pointer;
  transition: all 150ms ease-in;
}
.bullets li.active {
  background-color: #fff;
}
.bullets li.active, .bullets li:hover {
  border-color: #000;
}

/*End Slider*/
/*Start Services*/
.services .service__box {
  float: left;
  width: 33.3333333333%;
}
.services .service__box:not(:last-of-type) {
  padding-right: 20px;
}
.services .service__box .service__box--tittle {
  color: #666;
}
.services .service__box .service__box--tittle i {
  font-size: 2rem;
  color: #000;
  margin-right: 1rem;
  position: relative;
  top: 4px;
}
.services .service__box .service__box--description {
  color: #777;
  line-height: 1.5;
}
.services .service__box .service__box--link {
  color: #e2494c;
  text-decoration: none;
}

/*End Services*/
/*Start Players*/
.players .players__box {
  float: left;
  width: 20%;
}
.players .players__box:not(:last-of-type) {
  padding-right: 20px;
}
.players .players__box .players__box--tittle {
  color: #666;
  font-weight: 400;
}
.players .players__box .players__box--tittle span {
  font-weight: 700;
}
.players .players__box .players__box--description {
  color: #777;
  line-height: 1.5;
}
.players .players__box .players__box--link {
  color: #e2494c;
  text-decoration: none;
}

/*End Players*/
/*Start Lorem*/
.lorem .lorem__box {
  float: left;
  width: 31.3333333333%;
}
.lorem .lorem__box:not(:last-of-type) {
  margin-right: 3%;
}
.lorem .lorem__box .lorem__box--img {
  max-width: 100%;
}

/*End Lorem*/
.head-with-border {
  position: relative;
}
.head-with-border h2 {
  background-color: #e2494c;
  color: #fff;
  text-align: center;
  margin: 40px auto;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  width: 300px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.head-with-border h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2px;
  left: 0;
  top: 50%;
  background-color: #9c9c9c;
  z-index: -1;
}

.main-button {
  min-width: 100px;
  font-weight: 700;
  background-color: rgba(226, 73, 76, 0.9);
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 250ms;
}
.main-button:hover, .main-button:focus {
  background-color: #e2494c;
}

footer {
  background-color: #e2e2e2;
  overflow: hidden;
  padding-top: 1.3rem;
  margin-top: 2rem;
}
footer .gallery,
footer .info,
footer .contact {
  float: left;
}
footer .gallery {
  width: 40%;
}
footer .gallery .gallery__box {
  overflow: hidden;
}
footer .gallery .gallery__box:not(:last-of-type) {
  margin-bottom: 15px;
}
footer .gallery .gallery__box img {
  float: left;
  width: 100px;
  height: 100px;
}
footer .gallery .gallery__box .gallery__disc {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  width: calc(100% - 130px);
}
footer .gallery .gallery__box .gallery__disc h4 {
  color: #e2494c;
  margin: 10px 0 0 0;
}
footer .gallery .gallery__box .gallery__disc p {
  max-width: 95%;
  color: #888;
  line-height: 1.7;
  margin: 10px 0 0 0;
  font-size: 0.85rem;
}
footer .info {
  width: 30%;
}
footer .info address {
  color: #888;
  font-style: normal;
  line-height: 1.5;
}
footer .info address p {
  margin: 0;
  font-weight: 700;
}
footer .info address p a {
  text-decoration: none;
  color: #888;
  font-weight: 400;
}
footer .info address p a[href="mailto:#"] {
  color: #e2494c;
}
footer .info address p a[href="mailto:#"]:hover {
  text-decoration: underline;
}
footer .info .hours h4 {
  color: #888;
  font-weight: 700;
  margin-bottom: 0;
}
footer .info .hours p {
  color: #888;
  margin-top: 8px;
}
footer .contact {
  width: 30%;
}
footer .contact [type=text],
footer .contact [type=email],
footer .contact textarea {
  padding: 8px;
  border: 1px solid #888;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-family: inherit;
}
footer .contact [type=text]::placeholder,
footer .contact [type=email]::placeholder,
footer .contact textarea::placeholder {
  color: #888;
  font-family: inherit;
}
footer .contact textarea {
  height: 120px;
}
footer .contact [type=submit] {
  display: block;
}
footer .section__tittle {
  color: #444;
  font-weight: 400;
}
footer .copyright {
  border-top: 1px solid #9c9c9c;
  overflow: hidden;
  color: #888;
  margin-top: 10px;
  padding: 20px 0;
  font-size: 0.75rem;
}
footer .copyright .copyright__text,
footer .copyright .copyright__author {
  float: left;
  width: 50%;
}
footer .copyright .copyright__author {
  text-align: right;
}