footer {
  background-color: #e2e2e2;
  overflow: hidden;
  padding-top: 1.3rem;
  margin-top: 2rem;

  .gallery,
  .info,
  .contact {
    @media #{$minSmall} {
      float: $float-left;
    }
  }
  .info,
  .contact {
    @media #{$maxSmall} {
      margin-top: 2.5rem;
    }
  }
  .gallery {
    @media #{$minMedium} {
      width: 40%;
    }

    .gallery__box {
      overflow: hidden;
      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
      img {
        @media #{$minSmall} {
          float: $float-left;
        }

        width: 100px;
        height: 100px;
      }
      .gallery__disc {
        @media #{$minSmall} {
          float: $float-left;
          margin-right: 15px;
          margin-left: 15px;
          width: calc(100% - 130px);
        }
        h4 {
          color: $clr-primary;
          margin: 10px 0 0 0;
        }
        p {
          color: $clr-footer;
          line-height: 1.7;
          margin-top: 10px;
          font-size: 0.85rem;
          max-width: 50ch;
          margin-left: auto;
          margin-right: auto;
          @media #{$minMedium} {
            max-width: 95%;
          }
        }
      }
    }
  }
  .info {
    @media #{$minSmall} {
      width: 50%;
    }
    @media #{$minMedium} {
      width: 30%;
    }
    address {
      color: $clr-footer;
      font-style: normal;
      line-height: 1.5;
      p {
        margin: 0;
        font-weight: 700;
        a {
          text-decoration: none;
          color: $clr-footer;
          font-weight: 400;
          &[href="mailto:#"] {
            color: $clr-primary;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .hours {
      h4 {
        color: $clr-footer;
        font-weight: 700;
        margin-bottom: 0;
      }
      p {
        color: $clr-footer;
        margin-top: 8px;
      }
    }
  }
  .contact {
    @media #{$minSmall} {
      width: 50%;
    }
    @media #{$minMedium} {
      width: 30%;
    }
    [type="text"],
    [type="email"],
    textarea {
      padding: 8px;
      border: 1px solid $clr-footer;
      border-radius: 5px;
      margin-bottom: 5px;
      width: 100%;
      font-family: inherit;
      &::placeholder {
        color: $clr-footer;
        font-family: inherit;
      }
    }
    textarea {
      height: 120px;
    }
    [type="submit"] {
      display: block;
    }
  }
  .section__tittle {
    color: #444;
    font-weight: 400;
  }
  .copyright {
    border-top: 1px solid #9c9c9c;
    overflow: hidden;
    color: $clr-footer;
    margin-top: 2rem;
    padding: 20px 0;
    font-size: 0.75rem;
    .copyright__text,
    .copyright__author {
      @media #{$minSmall} {
        float: $float-left;
        width: 50%;
      }
    }
    .copyright__author {
      padding-top: 0.6rem;
      @media #{$minSmall} {
        text-align: right;
        padding-top: 0;
      }
    }
  }
}
