*,
*::after,
*::before {
  @include prefixer(box-sizing, border-box, webkit moz ms);
}

.container {
  margin: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  position: relative;

  @media #{$minSmall} {
    width: 750px;
  }
  @media #{$minMedium} {
    width: 970px;
  }
  @media #{$minLarge} {
    width: 1170px;
  }
}

.clear-fix {
  clear: both;
}

.text-center-xs {
  @media #{$maxSmall} {
    text-align: center;
  }
}
