*,
*::after,
*::before {
  @include prefixer(box-sizing, border-box, webkit moz ms);
}

.container {
  width: 75rem;
  margin: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  position: relative;
}

.clear-fix {
  clear: both;
}
