header {
  border-bottom: 1px solid $clr-secondary;
  overflow: hidden;
  .main__nav {
    padding: 20px 0;

    .logo {
      position: relative;
      text-transform: uppercase;
      @media #{$minSmall} {
        width: 100%;
        float: none;
        text-align: center;
      }
      @media #{$minMedium} {
        width: 30%;
        float: $float-left;
        text-align: $text-left;
      }
      h1 {
        margin-bottom: 0;
        margin-top: 10px;
      }
      p {
        margin-bottom: 2rem;
        padding-left: 0.4rem;
      }
      .main__nav--toggler {
        @media #{$minSmall} {
          display: none;
        }
      }
    }
    .nav__items {
      display: none;
      overflow: hidden;
      background-color: $clr-primary;
      border-radius: 0;
      transform-origin: top;
      @media #{$minSmall} {
        width: 100%;
        float: none;
        margin-top: 30px;
        text-align: center;
        border-radius: 0.9rem;
        display: block !important;
      }
      @media #{$minMedium} {
        width: 70%;
        float: $float-left;
        margin-top: 1em;
      }
      li {
        display: block;
        width: 20%;
        font-size: 1.1rem;
        @media #{$minSmall} {
          float: $float-left;
          text-align: center;
        }
        .nav__items--link {
          text-transform: capitalize;
          display: block;
          padding: 20px 10px;
          color: $clr-white;
          text-decoration: none;
          transition: transform 300ms ease-in;
          &:hover,
          &:focus {
            color: #ddd;
            transform: scale(1.07);
          }
        }
      }
    }
  }
}
