.main-button {
  min-width: 100px;
  font-weight: 700;
  background-color: rgba($clr-primary, 0.9);
  padding: 8px 16px;
  color: $clr-white;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 250ms;
  &:hover,
  &:focus {
    background-color: $clr-primary;
  }
}

.main__nav--toggler {
  position: absolute;
  top: 13px;
  right: 15px;
  background-color: $clr-primary;
  border: none;
  padding: 8px;
  cursor: pointer;
  span {
    display: block;
    width: 50px;
    height: 4px;
    background-color: $clr-white;
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }
}
